<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>eye</title>
    <link rel='stylesheet' href="{% static 'fullpage.min.css' %}">
</head>


<body>
    <style>
        
        html,
        body {
            position:static;
            width: 100%;
            height: 100%;
            margin: 0px; /* убирает скролл */
            overflow-x: hidden;
            background: url("{% static '/stonehenge/background/eye_f.png' %}");
            background-size: cover;
        }
        .two_part {
            display:grid;
            grid-template-columns: 35fr 65fr;
        }
        
        .border_up {
            grid-area: up_border;
        }

        .border_bottom {
            grid-area: bottom_border;
        }

        .border_left {
            grid-area: left_border;
        }

        .border_right {
            grid-area: right_border;
        }

        .arrow_left {
            grid-area: arrow_left;
        }

        .arrow_right {
            grid-area: right_arrow;
            align-items: center;
        }

        .arrow_left {
            grid-area: left_arrow;
        }

        .image_slider {
            grid-area: image_slider;
            align-items:center;
        }

        .second_half {
           display:grid;
           grid-template-columns: 5fr 5fr 80fr 5fr 5fr;
           /* grid-template-rows: 5fr 55fr 5fr; */
           grid-template-areas:
           "up_border up_border up_border up_border up_border"
           "left_border left_arrow image_slider right_arrow right_border"
           "bottom_border bottom_border bottom_border bottom_border bottom_border ";
           align-items: center;
        }

    </style>


    <body>
        <div class = 'two_part'>
            <div class='first_half'>
    
            <div class="logo">
                <img src = "{% static '/works/eye/hyhy.png' %}" style = 'position:absolute; top: 6vh; left: 55vh;min-width: 10vh;min-height: 10vh;max-width: 10vh;max-height: 10vh; overflow:hidden;' onclick = 'logo()'>
            </div>
    
            <h2 style = 'font-size:4.5em; text-align:left'>EYE</h2>
            <table>
                <tr>
                    <td>РАЗМЕР:</td>
                    <td>25</td> 
                </tr>
                <tr>
                    <th>МАТЕРИАЛ: </th>
                    <th>ФАРФОР</th>
                </tr>
                <tr>
                    <td> ЧЕТО</td>
                    <td>НУЖНО  НАПИСАТЬ </td>
                </tr>
            </table>
            </div>


            <div class = 'second_half'>
                
                <div class = 'border_left' style = 'margin-top:-5px; overflow:hidden;'>

                    <svg id = 'demo-svg' width="6" height="900" style = 'float: left'>
                        <path stroke = 'rgb(103, 21, 141)' stroke-width="10" fill = 'none' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>
           
                    <svg id = 'demo-svg' width="6" height="900" style = 'float: left'>
                        <path stroke = 'rgb(74, 17, 100)' stroke-width="10"  fill = 'none' style = 'margin-left: 10px;' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>

                    <svg id = 'demo-svg' width="6" height="900" style = 'float: left'>
                        <path stroke = 'rgb(118, 8, 168)' stroke-width="10" fill = 'none' style = 'margin-left: 10px;' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>
                    
                    <svg id = 'demo-svg' width="6" height="900" style = 'float: left'>
                        <path stroke = 'rgb(103, 21, 141)' stroke-width="10" fill = 'none' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>
           
                    <svg id = 'demo-svg' width="6" height="900" style = 'float: left'>
                        <path stroke = 'rgb(74, 17, 100)' stroke-width="10" fill = 'none' style = 'margin-left: 10px;' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>

                    <svg id = 'demo-svg' width="6" height="900" style = 'float: left'>
                        <path stroke = 'rgb(118, 8, 168)' stroke-width="10" fill = 'none' style = 'margin-left: 10px;' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>
                </div>


                <div class = 'border_up'>

                    <svg id = 'demo-svg' width="1000" height="3">
                        <path stroke = 'rgb(78, 31, 100)' stroke-width="20" fill = 'none' style = 'margin-left: 10px;' d = 'M1.45,12.19,741.5,8.6,1477.78,5l415.33-2a1.5,1.5,0,0,0,0-3l-740,3.6L416.78,7.17,1.45,9.19a1.5,1.5,0,0,0,0,3Z'></path>
                    </svg>

                    
                </div>

                
                <div class = 'arrow_left' style = 'position:relative; justify-content: center;'>
                    <img src = "{% static '/works/eye/arirow.png' %}" style = 'position:absolute;top:0; '  onclick="prev();gadina()">
                </div>
                

                <div class = 'image_slider' style = 'position:relative; max-height: 90vh; min-width: 100%; overflow:hidden;justify-content: center;' >
                    
                    <div class = 'first_image' > 
                        <img src = "{% static '/works/eye/eye_1.png' %}" id='first_image' alt="" class = 'slider-img' style = 'max-height: 89vh; min-width: 100%; overflow:hidden; margin:center;'>
                    </div>

                </div>

                <div class = 'arrow_right' style = 'position:relative; justify-content: center;'>
                    <img src = "{% static '/works/eye/arrow--rig.png' %}" id='arrow_first' style = 'position:absolute' onclick="next();gadina()">
                </div>

                <div class = 'border_right' style = 'overflow:hidden;margin-left:25px;'>
                    
                    <svg id = 'demo-svg' width="1" height="900" style = 'float: left; margin-left:1px; margin-top:-5px;'>
                        <path stroke = 'rgb(103, 21, 141)' stroke-width="20" fill = 'none' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>
<!--            
                    <svg id = 'demo-svg' width="1" height="900" style = 'float: left; margin-left:1px;'>
                        <path stroke = 'rgb(74, 17, 100)' stroke-width="20" fill = 'none' style = 'margin-left: 10px;' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>

                    <svg id = 'demo-svg' width="1" height="900" style = 'float: left; margin-left:1px;'>
                        <path stroke = 'rgb(118, 8, 168)' stroke-width="20" fill = 'none' style = 'margin-left: 10px;' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>

                    <svg id = 'demo-svg' width="1" height="900" style = 'float: left; margin-left:1px;'>
                        <path stroke = 'rgb(103, 21, 141)' stroke-width="20" fill = 'none' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>
           
                    <svg id = 'demo-svg' width="1" height="900" style = 'float: left; margin-left:1px;'>
                        <path stroke = 'rgb(74, 17, 100)' stroke-width="20" fill = 'none' style = 'margin-left: 10px;' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>

                    <svg id = 'demo-svg' width="1" height="900" style = 'float: left; margin-left:1px;'>
                        <path stroke = 'rgb(74, 17, 100)' stroke-width="20" fill = 'none' style = 'margin-left: 10px;' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg>

                    <svg id = 'demo-svg' width="1" height="900" style = 'float: left; margin-left:1px;'>
                        <path stroke = 'rgb(74, 17, 100)' stroke-width="20" fill = 'none' style = 'margin-left: 10px;' d = 'M1.1,18.11Q0,500.08,0,982q0,479.49,1.21,959,.66,270.49,1.69,541c.09,24.12,37.59,24.17,37.5,0q-1.83-482-2.51-963.92-.68-479.5-.19-959,.27-270.5.9-541C38.66-6,1.16-6,1.1,18.11Z'></path>
                    </svg> -->
                    
                    
                </div>
                
                <div class = 'border_bottom'>
                    
                    <svg id = 'demo-svg' width="1000" height="3">
                        <path stroke = 'rgb(78, 31, 100)' stroke-width="20" fill = 'none' style = 'margin-left: 10px;' d = 'M1.45,12.19,741.5,8.6,1477.78,5l415.33-2a1.5,1.5,0,0,0,0-3l-740,3.6L416.78,7.17,1.45,9.19a1.5,1.5,0,0,0,0,3Z'></path>
                    </svg>

                </div>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>

        <script>

            var slider_img = document.querySelector('.slider-img');
            var images = ['eye_1.png','eye_2.png', 'eye_3.png', 'eye_4.png', 'eye_5.png'];
            var i =0; //Current image

            function prev() {
                if (i<=0) i = images.length;
                b=i
                i--;
                return setImg();
            }

            function next() {
                if (i >= images.length - 1) i = -1;
                b = i
                i++;
                return setImg();
            }

            function setImg(){
                return slider_img.setAttribute('src', "{% static '/works/eye/' %}" + images[i])
            }

            function gadina(){    
                var brawl = anime({
                    targets: '.image_slider',
                    opacity: {
                        value:[0,1],
                        duration:900,
                    },
                    autoplay:false,
                    loop:false,
                }).play()
            }
            
            function logo(){
                
                var bear = anime({
                    targets: '.logo',
                    scale: 1.2,
                    translateX:-15,
                    autoplay:false,
                    loop:true,
                }).play()
            }

            function borders(){
     
                var gorodpod = anime({
                    targets:'.beware',
                    // translateY:45,
                    width:'110.6vh',
                    duration:8000,
                    easing: 'linear',
                    autoplay:false,
                }).play()
            }
            borders()

        var war =  anime({
            targets: ['#demo-svg path','#demo-svg_second path'],
            strokeDashoffset: [anime.setDashoffset, 0],
            easing: 'easeInOutSine',
            duration: 10500,
            delay: function(el, i) { return i * 250 },
            direction: 'alternate',
            loop: true
        });

        // var gawr =  anime({
        //     targets: '#demo-svg_second path',
        //     strokeDashoffset: [anime.setDashoffset, 0],
        //     easing: 'easeInOutSine',
        //     duration: 10500,
        //     delay: function(el, i) { return i * 250 },
        //     direction: 'alternate',
        //     loop: true
        // });


        </script>
    </body>

</html>